* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.top {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #eff4fd;
}

nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}
nav img {
  height:100px;
  border-radius: 50px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li a:hover{
  color: red;
}

.para1 {
  margin-left: 8%;
  margin-top: 13%;
}

.para1 h1 {
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
}

span {
  color: orange;
}

.para1 p {
  color: #555;
  line-height: 22px;
}

.para1 a {
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 20px 0;
}

.images #shape {
 width: 60%;

}


.images {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.images img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom  1s, left 1s;
}

.images:hover #shape{
  bottom: 40px;
}

.images:hover #photo{
  left: 45%;
}

.about {
  text-align: center;
  background: #eff4fd;

}

#about {
  margin-top: 20px;
  width: 80%;
  margin: auto;
  padding: 150px;
  align-items: center;
  justify-content: space-between
}

#about p {
  text-indent: 50px;
  line-height: 25px;
  letter-spacing: 2px;
  word-spacing: 8px;
  text-align: justify;
}

strong {
  color: #c50303;
  font-size: 25px;
}

.work, .education {
  text-align: center;
  background: #eff4fd;
  line-height: 25px;
  letter-spacing: 2px;
  word-spacing: 8px;
  float: left;
  width: 33.33%;
  height: 100dvh;
}

.work li, .education li, .skills li {
  text-align: center;
  margin-top: 30px;
  list-style:circle;
  list-style-position: inside;
}

.skills {
  text-align: center;
  background: #eff4fd;
  line-height: 20px;
  letter-spacing: 2px;
  word-spacing: 8px;
  float: left;
  width: 33.33%;
  height: 100dvh;
}

.main{
  background: #eff4fd;
  padding-top: 100px;
}

.gallery {
  margin-top: 100px;
  text-align: center;
  background: #eff4fd;
  line-height: 25px;
  letter-spacing: 2px;
  word-spacing: 8px;
  float: left;
  width: 100%;
  height: 100dvh;
}

footer {
  padding: 100px;
  background: #eff4fd;
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact {
  background: #eff4fd;
  text-align: center;
}

.contact p {
  text-indent: 50px;
  line-height: 25px;
  letter-spacing: 2px;
  word-spacing: 8px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


input,
textarea {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

button {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

